<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dop_app"
        tools:targetApi="31">
        <activity
            android:name=".razrab"
            android:exported="false" />
        <activity
            android:name=".itog"
            android:exported="false" />
        <activity
            android:name=".vopros5"
            android:exported="false" />
        <activity
            android:name=".vopros4"
            android:exported="false" />
        <activity
            android:name=".vopros3"
            android:exported="false" />
        <activity
            android:name=".vopros2"
            android:exported="false" />
        <activity
            android:name=".vopros"
            android:exported="false" />
        <activity
            android:name=".startactivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>